@charset "UTF-8";

:root{
    /* colors */
    --cor-principal: #FF914D;
    --cor-logo: #D0953B;
    --cor-background: #f4f4f4 ;
    --cor-apoio: #FFF1CD ;
    /* fonts */
    --font-destaque: Palestone-GrungeShadow ;
    --font-principal: 'Times New Roman', Times, serif;
    --font-apoio: Arial, Helvetica, sans-serif;
    /* logo sizes */
    --logo-width-mobile: 45%;
    --logo-width-tablet: 30%;
    --logo-width-desktop: 20%;
    /* button width sizes */
    --button-width-mobile: 75%;
    --button-width-tablet: 75%;
    --button-width-desktop: 65%;
}

@media all {
    /* geral */
    *{
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }

    /* body */
    body{
        background-color: var(--cor-background);
        background-size: cover;
    }

    /* header */
    header{
        display:flex;
        justify-content: space-between;
        height: 10vh;
        width: 100vw;
    }

    .headerButton{
        padding: 24px;
        margin: 40px;
    }
    
    button{
        display: flex;
        width: 1.8rem;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    /* main */
    main{
        text-align: center;
        padding: 5px;
        margin: auto;
        margin-bottom: 40px;
    }

    h2{
        color: #F86103;
        text-align: center;
        font-family: var(--font-apoio);
        font-size: 16px;
        font-weight: 400;
    }

    #OtherPage {
        font-size: 24px;
   } 

    p{
        color: black;
        font-size: 20px;
        align-items: center;
        margin: 5% 15%;
    }

    .logoP {
        width: 200px;
        height: 200px;
        border: none;
        border-radius: 50%;
        margin: 5%;
    }

    .logo{
        margin: 32px auto;
        transition: 0.5s ease-in-out;
        border: none;
        border-radius: 50%;
    }

    .FirstButtom, .SecondButtom, .ThirdButtom {
        flex-shrink: 0;
        border: 2.5px solid transparent;
        background: linear-gradient(#F8F8F8, #F8F8F8) padding-box,
        linear-gradient(to right, #F86103, #FFCC31, #F86103, #FFCC31) border-box;        
        border-radius: 50px;
        margin: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    a {
        text-decoration: none;
        text-align: center;
    }

    div#footer {
        width: 100%;
        height: 30vh;
        font-size: 16px;
        color: #F86103;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}
/* versão mobile */
@media screen and (max-width: 767px) {

    h2{
        font-size: 18px;
    }

    .logo{
        width: var(--logo-width-mobile);
    }

    .FirstButtom, .SecondButtom, .ThirdButtom {
        height: 9.5vh;
        width: var(--button-width-mobile);  
    }
   
}
/* versão tablet */
@media screen and (min-width: 767px) and (max-width: 1024px) {

    h2{
        font-size: 20px;
    }

    .logo{
        width: var(--logo-width-tablet);        
    }

    .FirstButtom, .SecondButtom, .ThirdButtom {
        height: 10vh;
        width: var(--button-width-tablet);
    }
   
    
}
/* versão desktop */
@media screen and (min-width: 1024px) {

    h2{
        font-size: 25px;
    }

    .logo{
        width: var(--logo-width-desktop);
    }

    .FirstButtom, .SecondButtom, .ThirdButtom {
        height: 11vh;
        width: var(--button-width-desktop);
    }

}